* {
  margin: 0;
  font-family: Fantasy;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #826F66;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.lightTheme {
  background-color: #3A3845;
}

.lightTheme main > div {
  min-height: 100vh;
  padding-top: 13vh;
  height: 100vh;
}

.lightTheme main .welcome {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

.lightTheme main .welcome .greet {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  height: 30vh;
  width: 30vw;
  border-radius: 1rem;
  background-color: #343337;
  padding: 1rem;
  border: .2rem solid black;
  border-top: 0.2rem solid rgba(255, 255, 255, 0.178);
  border-left: 0.2rem solid rgba(255, 255, 255, 0.178);
  -webkit-box-shadow: inset white 1rem 2rem 1rem;
          box-shadow: inset white 1rem 2rem 1rem;
  -webkit-box-shadow: #343337 .2rem .2rem 1rem;
          box-shadow: #343337 .2rem .2rem 1rem;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  display: -ms-grid;
  display: grid;
  opacity: .9;
}

.lightTheme main .welcome .greet:hover {
  cursor: default;
}

.lightTheme main .welcome .greet h1 {
  color: #cbcbcb;
  -ms-grid-column-align: center;
      justify-self: center;
}

.lightTheme main .about {
  border-top: 0.2rem solid #F7CCAC;
  display: -ms-grid;
  display: grid;
}

.lightTheme main .about h1 {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 3rem;
}

.lightTheme main .about .message {
  padding-left: 20vw;
  padding-right: 20vw;
}

.lightTheme main .about .message p {
  font-size: 2rem;
  text-indent: 5rem;
}

.lightTheme main .about h2 {
  font-size: 2.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.lightTheme main .about .skills {
  -ms-grid-column-align: center;
      justify-self: center;
}

.lightTheme main .about .skills .list {
  margin-left: 10vh;
  margin-right: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lightTheme main .about .skills .list p {
  border: 1px solid;
  padding: .5rem;
}

.lightTheme main .contact {
  border-top: 1px solid #F7CCAC;
  display: -ms-grid;
  display: grid;
}

.lightTheme main .contact h1 {
  -ms-grid-column-align: center;
      justify-self: center;
  color: #826F66;
}

.lightTheme main .contact .message {
  -ms-grid-column-align: center;
      justify-self: center;
  padding-left: 5vw;
  padding-right: 5vw;
}

.lightTheme main .contact .message h4 {
  color: #826F66;
  font-size: 2rem;
  text-indent: 5rem;
}

.lightTheme main .contact .link {
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.lightTheme main .contact .link a {
  margin: 2rem;
  color: #826F66;
  -webkit-transition: .5s;
  transition: .5s;
}

.lightTheme main .contact .link a i {
  font-size: 3rem;
}

.lightTheme main .contact .link a i:hover {
  color: #F7CCAC;
}

@media screen and (max-width: 450px) {
  * {
    font-size: .7rem;
  }
  .lightTheme main > div {
    height: auto;
  }
  .lightTheme main .welcome .greet {
    height: 20vh;
    width: 60vw;
  }
}
