$sizeUnit:1vw;

.welcome{
    width: 100%;
    height: 100vh;
}
.addShapeBtn{
    visibility: hidden;
}

.BGanimation{
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    $x:1;
    @while $x<=50 {
        .shape#{$x}{
            $size:random(6)+2*$sizeUnit;
            $posLeft:random(100);
            $delay:random(70)-40+s;
            $duration:random(50)+10+s;

            animation: animate linear infinite;
            position: absolute;
            display: block;
            width: $size;
            height: $size;
            left:$posLeft*1%;
            background: #d3d3d3;
            animation-delay: $delay;
            animation-duration: $duration;
            bottom: -150px;
            border-radius: 10%;
            transition: 2s;
            
            &:hover{
                left: $posLeft+10%;
                transition: 2s;
                cursor: pointer;

            }
        }
        $x:$x+1;
    }
    $x:1;
    @while $x<=50 {
        .shape0#{$x}{
            $size:random(6)+2*$sizeUnit;
            $posLeft:random(100);
            $delay:random(70)-40+s;
            $duration:random(50)+10+s;

            animation: animate linear infinite;
            position: absolute;
            display: block;
            width: $size;
            height: $size;
            left:$posLeft*1%;
            background: #d3d3d3;
            animation-delay: $delay;
            animation-duration: $duration;
            bottom: -150px;
            border-radius: 10%;
            transition: 5s;
            
            &:hover{
                left: ($posLeft)-10%;
                transition: 2s;
                cursor: pointer;

            }
        }
        $x:$x+1;
    }
}


.BGanimation2{
    margin-top:-13vh;
    position: absolute;
    width: 100%;
    overflow: hidden;
    $x:1;
    @while $x<=30 {
        .shape#{$x}{
            $size:random(5)+3*$sizeUnit;
            $posLeft:random(100);
            $delay:random(70)-50+s;
            $duration:random(50)+10+s;

            animation: animate linear infinite;
            position: absolute;
            display: block;
            width: $size;
            height: $size;
            left:$posLeft*1%;
            background: #000000;
            animation-delay: $delay;
            animation-duration: $duration;
            bottom: -150px;
            transition: 5s;
        }
        $x:$x+1;
    }
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100%{
        transform: translateY(-250vh) rotate(720deg);
        opacity: 0;
    }

}

@media screen and (max-width:450px) {
    
    
    $sizeUnit:1px;
    .projects{
        .BGanimation{
            div: {
                width: 20px;
                height: 20px
            };
        }
    }

    
}

    