$line:#F7CCAC;
$font:#826F66;
$bg:#3A3845;
$bg2:#C69B7B;


.lightTheme{
    header{
        display: grid;
        nav{
            // visibility: hidden;
            z-index: 1;
            position: fixed;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            width: 100%;
            transition:0.3s;
            background-color: #C69B7B;
            top: 0;
            a{
                font-size: 2rem;
                text-decoration: none;
                padding: 10px;
                color: $bg;
                &:hover{
                    color: $line;
                }
            }
            img{
                height: 10vh;
            }
            .collapse{
                justify-self: end;
            }
            button{
                width: 10vw;
                justify-self: end;
                margin-right: 10px;
            }
        }
    }
    
}

