$line:#F7CCAC;
$font:#826F66;
$bg:#3A3845;
$bg2:#C69B7B;

*{
    margin: 0;
    font-family:Fantasy;
}
html{
    scroll-behavior: smooth;
    
}

.lightTheme{
    background-color:$bg;


    header{
        display: grid;
        justify-content: end;
        nav{
            z-index: 5;
            position: fixed;
            top: 0;
            width: 100%;
            height: 10vh;
            display: flex;
            justify-content: end;
            background-color: $bg2;
            transition: top 0.3s;
            box-shadow: $line .1rem .1rem;

            
           a{
            font-size: 2rem;
            float: left;
            margin: .7rem;
            color: $font;
            text-decoration: none;

            &:hover{
                color: $line;
            }
           }
        }
    }
    main{
        >div{
            margin-top: 10vh;
            padding-top:  20vh;
            padding-bottom:  20vh;


        }
        .welcome{
            display: grid;
            width: 100%;
            height:100vh;

            .greet{
                justify-self: center;
                height: 150px;
                border-radius: 20px;
                background-color: #343337;
                padding: 1rem;
                border: 2px solid black;
                border-top: 3px solid rgba(255, 255, 255, 0.178);
                border-left: 2px solid rgba(255, 255, 255, 0.178);
                box-shadow: inset 1px 1px 10px;
                box-shadow: #343337 1px 1px 10px;
                backdrop-filter: blur(25px);
                display: grid;
                opacity: .9;

                &:hover{
                    cursor: default;
                }
                h1{
                    color: #cbcbcb;
                    justify-self: center;
                }
            }
           
        }
        .about{
            border-top:  1px solid $line;
            display: flex;
            justify-content: center;
            height: 100vh;
            h1{
                color: $font;
            }
        }
        .projects{
            border-top:  2px solid $line;
            display: grid;
            justify-content: center;
            height: auto;

            .container{
                display: flex;
                gap: 30px;
                margin-bottom: 20px;
            }

            .card{
                width: 300px;
                height: 400px;
                background-color: transparent;
                backdrop-filter: blur(5px);
                border-top: 3px solid rgba(255, 255, 255, 0.178);
                border-left: 2px solid rgba(255, 255, 255, 0.178);
                overflow: hidden;
                box-shadow: inset white 2px 2px 5px;
                padding: 1rem;

                h2{
                    font-size: 4rem;
                    position: absolute;
                    margin: 20px 0 0 10px;
                    color: $font;
                    transition: 2.5s;

                }
                &:hover h2{
                    opacity: .5;
                    color: #343337;
                }
                .content{
                    width: 100%;
                    height: 100%;
                    display: grid;
                    text-align: center;
                    justify-content: center;
                    margin-bottom: 20px;
                    padding: 50px;
                    
                    .image{
                        width:250px;
                        height: 200px;
                        border-radius: 20px;

                        img{
                            width: 100%;
                            height: 100%;
                            box-shadow: inset white 2px 2px 5px;
                            box-shadow: white 1px 1px 5px;

                            
                        }
                    }
                    .link{
                        margin-top: 1rem;
                        justify-self: center;
                        border-radius: 20px;
                        display: grid;
                        a{
                            margin-bottom: 1rem;
                            width: 5rem;
                            height:1.5rem;
                            color:$font;
                            text-decoration: none;
                            border: 1px solid;
                            transition: .5s;

                            &:hover{
                                background-color: white;
                                color: #3A3845;
                            }
                        }
                        
                       
                    }
                }
            }
            .card .content{
                transform: translateY(110px);
                opacity: 0 ;
                transition: .5s;
            }
            .card:hover .content{
                transform: translateY(0px);
                opacity: 1 ;
            }
            h1{
                color: $font;
            }
        }
        .contact{
            border-top:  1px solid $line;
            display: grid;
            h1{
                justify-self: center;
                color: $font;
            }
           

            .link{
                justify-self: center;
                a{
                    margin: 20px;
                    font-size: 3rem;
                    color: $font;

                    &:hover{
                        color: $line;
                    }
                }
            }
            
        }
    }
}