$line:#F7CCAC;
$font:#826F66;
$bg:#3A3845;
$bg2:#C69B7B;
$sizeUnits:1px;

*{
    margin: 0;
    font-family:Fantasy;
    font-size:1rem;
    box-sizing: border-box;
    color: $font;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.lightTheme{
    background-color:$bg;
    main{
        >div{
            min-height:100vh;
            padding-top: 13vh;
            height:100vh;

        }
        
        .welcome{
            display: grid;
            width: 100%;

            .greet{
                justify-self: center;
                align-self: center;
                height: 30vh;
                width:30vw;
                border-radius: 1rem;
                background-color: #343337;
                padding: 1rem;
                border: .2rem solid black;
                border-top: .2rem solid rgba(255, 255, 255, 0.178);
                border-left: .2rem solid rgba(255, 255, 255, 0.178);
                box-shadow: inset white 1rem 2rem 1rem;
                box-shadow: #343337 .2rem .2rem 1rem;
                backdrop-filter: blur(50px);
                display: grid;
                opacity: .9;

                &:hover{
                    cursor: default;
                }
                h1{
                    color: #cbcbcb;
                    justify-self: center;
                }
            }
           
        }
        .about{
            border-top:  .2rem solid $line;
            display: grid;
           
            h1{
                justify-self: center;
                font-size:3rem;
            }
            .message{
                padding-left:  20vw;
                padding-right: 20vw;
                p{
                    font-size: 2rem;
                    text-indent: 5rem;
                }
            }
            h2{
                font-size: 2.5rem;
                justify-self: center;
            }
            .skills{
                justify-self: center;
                
                .list{
                    margin-left: 10vh;
                    margin-right: 10vh;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    justify-content: center;
                    p{
                        border: 1px solid ;
                        padding: .5rem;
                    }
                }
            }
        }
        
        .contact{
            border-top:  1px solid $line;
            display: grid;
            h1{
                justify-self: center;
                color: $font;
            }
            .message{
                justify-self: center;
                padding-left: 5vw;
                padding-right: 5vw;
                h4{
                    color: $font;
                    font-size: 2rem;
                    text-indent: 5rem;
                }
            }
            .link{
                justify-self: center;
                display: grid;
                grid-template-columns: repeat(4,1fr);
                a{
                    margin: 2rem;
                    color: $font;
                    transition:  .5s;
                    i{
                        font-size: 3rem;
                        &:hover{
                            color: $line;
                        }
                    }
                    
                }
            }
        }
    }
}



@media screen and (max-width:450px) {

    *{
        font-size:.7rem;
    }

    .lightTheme{
        main{
            >div{
                height:auto;
            }
            .welcome{
                .greet{
                    height: 20vh;
                    width: 60vw;
                }
            }
        }
    }
}